div.col-xl-3{
  img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
div.row{
  img{
      width: 40px;
    height: 40px;
  }
}
ul{
  list-style-type: none;
}
.fs{
  position: relative;
  top: -15px;
  line-height: 1;
  font-size: 10px;
}
