.row1{
  height: 500px;
  overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0077ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #008cff;
}
