input.form-control{
  border: none;
  &:focus{
    box-shadow: none;
  }
}
img{
  width: 300px;
  height: 300px;
}
button.bt{
  border: none;
  background: transparent;
  position: relative;
  top: -8px;
}
