.mw{
  max-width:100%
}
.width{
  width:400px;
  height: 400px;
}
.immagine-rounded-circle{
  width: 50px;
  height: 50px;
}
input.form-control{
  border: none;
  outline: none;
  width: 400px!important;
  margin:auto;
  box-shadow: none;
}
.data{
  font-size: 10px;
  position: relative;
  top: -20px;
}
.mat-dialo-container{
  width:600px;
  height:695px;
}
